.contact_section  h1 {
    font-size: 48px;
    font-weight: 800px;
}
 .contact_section p {
    font-size: 20px;
    padding: 50px;
 }

.contact_section {
    margin: 50px;
    padding: 20px;
}
.btn-row {
    display: flex;
}